{% extends "_layouts/base.html" %}
{% load static %}
{% load fb_versions %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-slider.min.css' %}">
{% endblock css %}

{% block js %}
{{ block.super }}
<script type="text/javascript" src="{% static 'js/libs/bootstrap-slider.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/libs/masonry.pkgd.min.js' %}"></script>
<script type="text/javascript">
$(window).load(function(){
    $('#obj_list_picture').masonry({
        itemSelector: '.masonry-item',
        columnWidth: 10
    });
    $('#obj_list_video').masonry({
        itemSelector: '.masonry-item',
        columnWidth: 10
    });
});
</script>
{% endblock js %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div style="margin-top: 60px; margin-bottom: 60px;">
                <form method="POST" action="">
                    {% csrf_token %}
                    {{ minimum_date }}<span style="margin-left: 30px; margin-right: 30px;"><input id="dateslider" name="slider" type="text" data-provide="slider" data-slider-min="{{ minimum_date }}" data-slider-max="{{ maximum_date }}" data-slider-step="1" data-slider-value="[{% firstof fr 1900 %}, {% firstof to 1950 %}]" style="width: 600px;" /></span> {{ maximum_date }}
                    <input type="checkbox" name="showundated" {% if undated %}checked {% endif %} style="margin-left: 20px;">
                    <span class="cabin" style="margin.left: 15px;">Undatierte zeigen</span>
                    <input style="margin-left: 50px;" class="btn btn-default btn-sm" value="Aktualisieren" type="submit" />
                </form>
            </div>

            <h1 style="text-align: center;">{{ fr }}{% if fr != to %} - {{ to }}{% endif %}{% if undated %} und undatierte{% endif %}</h1>

            <div class="row"> 
                {% if births %}
                <div class="col-md-6">
                    <h2>Geboren</h2>
                    <div id="obj_list_births">
                        <ul class="list-group">
                            {% for person in births %}
                            <li class="list-group-item clearfix">
                                {% include "genealogio/person_snippet_portrait.html" %}
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {% endif %}

                {% if deaths %}
                <div class="col-md-6">
                    <h2>Gestorben</h2>
                    <div id="obj_list_births">
                        <ul class="list-group">
                            {% for person in deaths %}
                            <li class="list-group-item clearfix">
                                {% include "genealogio/person_snippet_portrait.html" %}
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {% endif %}
            </div>


            {% if pics %}
            <h2>Bilder</h2>
            <div id="obj_list_picture">
                {% for obj in pics %}
                <div style="display: inline-block; margin: 5px;" class="masonry-item">
                    <a href="{{ obj.get_absolute_url }}">{{ obj.as_html_in_list|safe }}</a>
                </div>
                {% endfor %}
            </div>
            {% endif %}

            {% if videos %}
            <h2>Videos</h2>
            <div id="obj_list_video">
                {% for obj in videos %}
                <div style="display: inline-block; margin: 5px;" class="masonry-item">
                    <a href="{{ obj.get_absolute_url }}">{{ obj.as_html_in_list|safe }}</a>
                </div>
                {% endfor %}
            </div>
            {% endif %}

            {% if documents %}
            <h2>Dokumente</h2>
            <div id="obj_list_document">
                {% for obj in documents %}
                <div style="display: inline-block; width: 100%; margin: 5px;">
                    <a href="{{ obj.get_absolute_url }}">{{ obj.as_html_in_list|safe }}</a>
                </div>
                {% endfor %}
            </div>
            {% endif %}
        </div>
        <div class="col-md-2">
        </div>
    </div>
</div>
{% endblock %}


