
{% extends "_layouts/base.html" %}
{% load static %}
{% load markup_tags %}
{% load fb_versions %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/file_upload.css' %}">
{% endblock css %}


{% block js %}
{{ block.super  }}
{% if user_is_admin %}
<script type="text/javascript" src="{% static 'js/libs/jquery.MultiFile.js' %}"></script>
<script type="text/javascript">
$(function() {
    $('.js-multi').MultiFile({
        list: '#filelist',
        STRING: {
            remove: '<span class="glyphicon glyphicon-remove" style="font-size: 120%; color: red;"></i> ',
            file: '<span class="cabin" style="font-size: 120%; margin: 10px;">$file</span>'
        }
    });
});
</script>
{% endif %}
{% endblock js %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-10">
            <h1>Dokumente</h1>
            <ul class="list-group">
                {% for object in object_list %}
                <li class="list-group-item">{% if object.image %}<img style="margin-right: 20px;" src="{% version object.image "thumbnail" %}">{% endif %}<a href="{{ object.get_absolute_url }}">{{ object.name }} ({{ object.doc.extension|cut:"." }}, {{ object.doc.filesize|filesizeformat }})</a>
                    <span class="pull-right">{% for tag in object.tags.all %}{{ tag.as_span|safe }}{% endfor %}</span>
                </li>
            {% endfor %}
            </ul>

        </div>
        <div class="col-md-2">
            {% if user_is_admin %}
            <div style="margin-bottom: 50px;" class="adminbox">
                {% include "notaro/add_files_form.html" with target="documents" %}
            </div>
            {% endif %}
            {% for tag in tag_list %}
            {{ tag.as_span|safe }}
            {% endfor %}
            <p style="margin-top: 10px;"><a class="cabin btn btn-sm btn-default" href="{% url 'tag-list' %}">Alle Schlagwörter</a></p>
        </div>
    </div>
    {% include "notaro/pagination.html" %}
</div>
{% endblock %}


