<div class="row" style="font-size: 120%;">
    <div class="col-md-7 cabin">
        {% if page_obj.has_previous %}<a href="?page={{ page_obj.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}"><span class="small">Vorherige Seite</span></a>{% endif %}

    <span style="margin-left: 30px; margin-right: 30px;">
        {% for i in page_obj.paginator.start_range %}
        <a href="?page={{ i }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}" style="margin-left: 5px; margin-right: 5px; border: 1px solid gray; padding-left:4px; padding-right: 4px;">{{ i }}</a>
        {% endfor %}
        {% if page_obj.paginator.start_main_dots %}...{% endif %}
        {% for i in page_obj.paginator.main_range %}
        {% if i == page_obj.number %}
        <span style="margin-left: 5px; margin-right: 5px; border: 1px solid gray; padding-left:4px; padding-right: 4px; background-color: #dddddd;">{{ i }}</span>
        {% else %}
        <a href="?page={{ i }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}" style="margin-left: 5px; margin-right: 5px; border: 1px solid gray; padding-left:4px; padding-right: 4px;">{{ i }}</a>
        {% endif %}
        {% endfor %}
        {% if page_obj.paginator.main_end_dots %}...{% endif %}
        {% for i in page_obj.paginator.end_range %}
        <a href="?page={{ i }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}" style="margin-left: 5px; margin-right: 5px; border: 1px solid gray; padding-left:4px; padding-right: 4px;">{{ i }}</a>
        {% endfor %}
    </span>

    {% if page_obj.has_next %}<a href="?page={{ page_obj.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}"><span class="small">Nächste Seite</span></a>{% endif %}
    <div style="margin-top:20px; font-size: 80%;" class="cabin">(Insgesamt {{ page_obj.paginator.count }} Einträge)</div>
    </div>
    <div class="col-md-5">

{% if not hide_individual_pagination %}
        <div class="pull-right cabin">Zeige 
            <div class="btn-group cabin" style="margin-left: 10px; margin-right: 10px; display: inline-block;" role="group" aria-label="Wähle Anzahl gezeigter Einträge">
                <button type="button" id="pagination12" class="btn btn-default {% if not request.session.paginate_by or request.session.paginate_by == 12 %}active{% endif %}">12</button>
                <button type="button" id="pagination24" class="btn btn-default {% if request.session.paginate_by == 24 %}active{% endif %}">24</button>
                <button type="button" id="pagination48" class="btn btn-default {% if request.session.paginate_by == 48 %}active{% endif %}">48</button>
                <button type="button" id="pagination10000" class="btn btn-default {% if request.session.paginate_by == 10000 %}active{% endif %}">alle</button>
            </div>
            Einträge.
        </div>
{% endif %}
    </div>
</div>
{% if not hide_individual_pagination %}
<script type="text/javascript">
$(document).ready(function() {
    $('#pagination12').click(function() {
        $.post('/store-paginate-by/', {paginate_by: 12},
                function () {
                    window.location.href = "{{ request.path }}";
                });
    });
    $('#pagination24').click(function() {
        $.post('/store-paginate-by/', {paginate_by: 24},
                function () {
                    window.location.href = "{{ request.path }}";
                });
    });
    $('#pagination48').click(function() {
        $.post('/store-paginate-by/', {paginate_by: 48},
                function () {
                    window.location.href = "{{ request.path }}";
                });
    });
    $('#pagination10000').click(function() {
        $.post('/store-paginate-by/', {paginate_by: 10000},
                function () {
                    window.location.href = "{{ request.path }}";
                });
    });
});
</script>
{% endif %}
