{% extends "_layouts/base.html" %}
{% load static %}
{% load markup_tags %}
{% load typogrify_tags %}
{% load fb_versions %}
{% load crispy_forms_tags %}
{% load partialdate_tags %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/selectize.bootstrap3.css' %}">
<link rel="stylesheet" href="{% static 'codemirror/codemirror.css' %}">
<link rel="stylesheet" href="{% static 'codemirror/show-hint.css' %}">
<link rel="stylesheet" href="{% static 'codemirror/dialog.css' %}">
<link rel="stylesheet" href="{% static 'codemirror/custom2.css' %}">

<style>
button, .selectize-input {
    font-family: Cabin, helvetica, sans;
}
</style>
{% endblock css %}

{% block js %}
{{ block.super  }}
{% if user_is_admin %}
<script type="text/javascript" src="{% static 'js/showhide.js' %}"></script>
<script type="text/javascript" src="{% static 'js/rsterrors.js' %}"></script>
<script type="text/javascript" src="{% static 'js/selectize.min.js' %}"></script>
<script type="text/javascript" src="{% static 'codemirror/codemirror-compressed.js' %}"></script>
<script type="text/javascript" src="{% static 'js/genrst-hint.js' %}"></script>
<script>
$(document).ready(function() {
    {% include "tags/selectize_tags.js" %}
    {% include "notaro/codemirror_js.html" with target="caption" %}

    show_hide_button('#admin_panel_title', '#admin_panel', 'admin_panel');
});
</script>
{% endif %}
{% endblock js %}

{% block content %}
<div class="container">

    {% if user_is_admin %}
    <div class="row" style="margin-top: 50px;">
        <div class="col-md-8">
            <h2 id="admin_panel_title">Bearbeiten</h2>
            <div id = "admin_panel">
                {% url "save-tags" "notaro" "picture" object.pk as action %}
                {% include "tags/tags_form.html" %}

                <div style="margin-top: 50px;">
                    <form method="POST" action="">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <input type="submit" value="Beschreibung abspeichern" class="btn btn-success pull-right cabin" style="margin-top: 20px;">
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="row">
        <div class="col-md-8">
            <a href="{{ object.image.url  }}">
                <img src="{% version object.image  'large' %}" style="margin-top: 50px; margin-bottom: 20px;">
            </a>

            {{ object.get_caption|apply_markup:"genrestructuredtext"|typogrify }}

            {% if object.date %}<p>{{ object.date|partial_date:"j. M. Y" }}</p>{% endif %}

            {% filter apply_markup:"genrestructuredtext" %}
            {% include "notaro/sources.rst" with all_sources=object.picturesource_set.all %}
            {% endfilter %}

            <hr>
            {% include "comments/comments.html" %}

        </div>
        <div class="col-md-3 col-md-offset-1">
            <div style="margin-top: 40px;">
                {% for tag in object.tags.all %}{{ tag.as_span|safe }}{% endfor %}
                <div class="cabin" style="margin-bottom: 20px; margin-top: 20px; padding: 20px; background-color: lightyellow;">{% for s in object.get_exif_data %}{{ s }}<br>{% endfor %}{{ object.image.width }} x {{ object.image.height }}</div>
            {% if user_is_admin %}
                <div class="cabin adminbox">

                    {% include "notaro/admin_links.html" with admin_edit_link="notaro/picture" doc_link="bilder.html" %}
                    <form method="POST" action="{% url "set-date-from-exif" object.pk %}">
                        {% csrf_token %}
                        <input class="btn btn-default" type="submit" value="Datum aus EXIF setzen">
                    </form>
                </div>
            {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

