{% extends "notaro/list_view.html" %}
{% load static %}
{% load markup_tags %}
{% load notaro_tags %}
{% load fb_versions %}

{% block css %}
{{ block.super }}
{% include "notaro/selectize_css.html" %}
<style>
.document ul, ol {
    overflow: auto;
}
</style>
{% endblock css %}

{% block js %}
{{ block.super  }}
{% include "notaro/selectize_js.html" %}
{% endblock js %}

{% block content_main %}
<div class="row">
    <h1>{% if pagetitle %}{{ pagetitle }}{% else %}Bilder{% endif %}
    <div style="margin-bottom: 50px;" class="pull-right">
        <a class="{% if "thumbnail" in request.path %}active {% endif %}btn btn-default btn-sm cabin" href="{% url "picture-list" %}thumbnail/">Klein</a>
        <a class="{% if not "thumbnail" in request.path and not "medium" in request.path %}active {% endif %}btn btn-default btn-sm cabin" href="{% url "picture-list" %}">Normal</a>
        <a class="{% if "medium" in request.path %}active {% endif %}btn btn-default btn-sm cabin" href="{% url "picture-list" %}medium/">Groß</a>
    </div>
</h1>
</div>

<div class="row">
    {% for ctr in '01' %}
    <div class="col-md-6">
        <ul class="list-group">
            {% for object in object_list %}
            {% if ctr == '0' and not forloop.counter|divisibleby:2 or ctr == '1' and forloop.counter|divisibleby:2 %}
            <li class="list-group-item" style="margin-bottom: 10px;">
                <a name="obj{{ object.id }}"></a>

                <div style="overflow: hidden; vertical-align: top; margin-bottom: 20px;">
                    <a href="{{ object.get_absolute_url }}">
                        <img style="{% if size != "medium" %}float: left;{% endif %} margin-right: 20px;" src="{% version object.image size %}">
                    </a>
                    <div {% if size == "medium" %}style="margin-top: 20px;"{% endif %}>
                        {{ object.caption|apply_markup:"genrestructuredtext" }}
                    </div>
                </div>

                <div style="margin-bottom: 20px;">{{ object.date.year|datebadge }}{% for tag in object.tags.all %}{{ tag.as_span|safe }}{% endfor %}</div>

                {% if user_is_admin %}
                {% url "save-tags" "notaro" "picture" object.pk as action %}
                {% with id_as_string=object.id|slugify %}
                {% with next=request.get_full_path|add:"#obj"|add:id_as_string %}
                {% include "tags/tags_form.html" with next=next %}
                {% endwith %}
                {% endwith %}
                {% endif %}
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
    {% endfor %}
</div>
{% endblock content_main %}

{% block content_right %}
{% if user_is_admin %}
<div style="margin-bottom: 50px;" class="adminbox">
    <div style="margin-bottom: 15px; border-bottom: 1px solid gray; padding-bottom: 25px;"><a class="btn btn-default btn-sm cabin" href="{% url 'picture-list-untagged' %}">Bilder ohne Schlagwort</a></div>

    {% include "notaro/add_files_form.html" with target="images" %}
</div>
{% endif %}
{{ block.super }}
{% endblock %}

