{% extends "notaro/list_view.html" %}
{% load markup_tags %}
{% load notaro_tags %}
{% load fb_versions %}

{% block css %}
{{ block.super }}
{% include "notaro/selectize_css.html" %}
{% endblock css %}

{% block js %}
{{ block.super  }}
{% include "notaro/selectize_js.html" %}
{% endblock js %}

{% block content_main %}
<h1>Videos</h1>
<div class="row" style="margin-bottom: 30px;">
    {% for ctr in '01' %}
    <div class="col-md-6">
        <ul class="list-group">
            {% for object in object_list %}
            {% if ctr == '0' and not forloop.counter|divisibleby:2 or ctr == '1' and forloop.counter|divisibleby:2 %}
            <li class="list-group-item" style="margin-bottom: 10px;">
                <a name="obj{{ object.id }}"></a>

                <div style="margin-bottom: 20px;">
                    <a href="{{ object.get_absolute_url }}">
                        {% if object.poster %}<img width="400" src="{{ object.poster.url }}">
                        {% else %}Die Videodatei wird jetzt verarbeitet ...
                        {% endif %}
                    </a>
                    <div>
                        {{ object.caption|apply_markup:"genrestructuredtext" }}
                    </div>
                </div>

                <div style="margin-bottom: 20px;">{{ object.date.year|datebadge }}{% for tag in object.tags.all %}{{ tag.as_span|safe }}{% endfor %}</div>

                {% if user_is_admin %}
                {% url "save-tags" "notaro" "video" object.id as action %}
                {% with id_as_string=object.id|slugify %}
                {% with next=request.get_full_path|add:"#obj"|add:id_as_string %}
                {% include "tags/tags_form.html" %}
                {% endwith %}
                {% endwith %}
                {% endif %}
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
    {% endfor %}
</div>
{% endblock %}

{% block content_right %}
{% if user_is_admin %}
<div style="margin-bottom: 50px;" class="adminbox">
    {% include "notaro/add_files_form.html" with target="videos" %}
</div>
{% endif %}
{{ block.super }}
{% endblock %}

