{% extends 'umessages/base_message.html' %}
{% load i18n %}
{% load markup_tags %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 cabin">
            <h2>Konversation mit {{ recipient.get_full_name }} ({{ recipient.username }})</h2>

            <h3>{% trans "Antworten" %}</h3>

            <form action="/messages/compose/" method="post" class="form-group" id="compose_message_form">
                {% csrf_token %}
                  <input id="id_to" name="to" type="hidden" value="{{ recipient }}" /></p>
                  <table class="table">
                      <tr><td><label for="id_body">Nachricht:</label></td><td width="80%"> <textarea class="message" cols="100" id="id_body" name="body" rows="10"></textarea></td></tr></table>
                        <input type="submit" name="send" class="btn btn-default" value="Abschicken" />
                    </form>

<ul class="list-group">
{% for message in message_list %}
<li class="list-group-item" {% ifequal message.sender.username request.user.username %}style="background-color: #eeeeee;"{% endifequal %}>
{{ message.body|apply_markup:"genrestructuredtext" }}
<p style="font-size: 100%;">{% blocktrans with message.sent_at as sent_at %}Geschrieben am {{ sent_at }}{% endblocktrans %}</p>
</li>
{% endfor %}
</ul>
</div>
</div>
</div>
{% endblock %}
