{% extends 'umessages/base_message.html' %}
{% load i18n %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-10 cabin">
            <h2>Konversation mit {{ recipient.get_full_name }} ({{ recipient.username }})</h2>

            <h3>{% trans "Antworten" %}</h3>

            <form action="/messages/compose/" method="post" class="form-group" id="compose_message_form">
                {% csrf_token %}
                  <input id="id_to" name="to" type="hidden" value="{{ recipient }}" /></p>
                      <p><label for="id_body">Nachricht:</label> <textarea class="message" cols="40" id="id_body" name="body" rows="10"> </textarea></p>
                        <input type="submit" name="send" class="btn btn-default" value="Abschicken" />
                    </form>

<ul class="list-group">
{% for message in message_list %}
<li class="list-group-item">
<p>{{ message }}</p>
  <p style="font-size: 100%;">{% blocktrans with message.sent_at as sent_at %}Geschrieben am {{ sent_at }}{% endblocktrans %}</p>
</li>
{% endfor %}
</ul>
</div>
</div>
</div>
{% endblock %}
