*/settings/local.py
*.py[co]
*.sw[po]
*.egg*
.coverage
pip-log.txt
docs/_build
.noseids
tmp/*
*.mo
*.log
*.db
media/*
static/*
familio/wsgi*.py
backup-db

base/static/dokumentation.pdf

familio/settings/*
!familio/settings/__init__.py
!familio/settings/base.py
!familio/settings/test.py

pdfexport/*.rst
pdfexport/_build

htmlcov/*

node_modules/*
