*.py[co]
*.sw[po]
*.egg*
.coverage
pip-log.txt
docs/_build
.noseids
tmp/*
*.mo
*.log
*.db
media/*
static/*
backup-db

base/static/dokumentation.pdf
base/templates/base/piwik.html
base/templates/custom_impressum.html
base/templates/home_custom.html

familio/settings/*
!familio/settings/__init__.py
!familio/settings/base.py
!familio/settings/test.py

pdfexport/*.rst
!pdfexport/appendix.rst
pdfexport/_build

htmlcov/*

node_modules/*
