{% extends "_layouts/base.html" %}
{% load markup_tags %}
{% load typogrify_tags %}


{% block content %}
<div class="container">

    <div class="row">
        <div class="col-md-8">
{% if request.user.is_authenticated %}
<h1>Redakteure</h1>

<div style="margin-bottom: 30px;" class="cabin">
<ul class="list-group">
{% for u in staff %}
<li class="list-group-item">{{ u.get_full_name }} ({{ u.username }}), <a href="mailto:{{ u.email }}">{{ u.email }}</a> <a href="/messages/compose/{{ u.username }}/" style="margin-left: 30px;" class="btn btn-default">Nachricht schicken</a></li>
{% endfor %}
</ul>
{% endif %}
</div>


<h1>Impressum</h1>
{% filter apply_markup:"genrestructuredtext" %}

Dies ist eine nicht-kommerzielle Web-Seite, auf der Informationen zur Familiengeschichte der Familie {{ request.site.siteprofile.short_name }} und verwandter Familien zusammengetragen sind.

Verantwortlich:

::

  Ulrich Görtz
  Ardeystr. 5
  45134 Essen
  ug@geometry.de


-------------------
Verwendete Software
-------------------

Die Webseite wurde mit einer Vielzahl von Open-Source-Softwarepaketen und -Projekten programmiert, unter anderem:

`Python <http://www.python.org>`__

`Django <http://www.djangoproject.com>`__

`OpenStreetMaps <https://www.openstreetmap.org/about>`__

`Leaflet <http://leafletjs.com/>`__

`CodeMirror <http://codemirror.net/>`__

`Wikidata <http://www.wikidata.org>`__

`Vollkorn <http://vollkorn-typeface.com/>`__

`jQuery <http://jquery.com/>`__

`Bootstrap <http://getbootstrap.com/>`__

... eine große Anzahl von Django-Paketen: grappelli, watson, userena, django-markup, reversion, dajaxice, django-leaflet, django-geojson, django-braces, ... 

            {% endfilter %}
        </div>
    </div>
</div>
{% endblock %}


