{% extends "_layouts/base.html" %}

{% block content %}
<div class="container" style="margin-top: 10px;">
    <div class="row">
    <div class="col-md-10 cabin">
        <h2>Willkommen!</h2>
        <p>Schön, dass Du Dir unsere Familienchronik anschauen möchtest. Um Dich zu registrieren, trage bitte unten einen Benutzernamen und ein Passwort ein. Gegebenenfalls kannst Du auch noch Deinen Namen oder Deine Email-Adresse ändern.</p>

        <p>Sobald Du die Daten abgeschickt hast, wirst Du angemeldet und kannst auf den Webseiten herumstöbern. Wenn Du oben in der Mitte auf Deinen Namen klickst und <i>Nachrichten</i> auswählst, kannst Du Dir die Willkommensnachricht mit einigen weiteren Erklärungen anschauen.</p>

        <div class="cabin" style="margin-top: 30px;">
<form method="POST" action="">
    <table class="table">
        {{ form.as_table }}
    </table>
    <input type="submit" class="btn btn-default" value="Abschicken">
    {% csrf_token %}
</form>
</div>
</div>
</div>
</div>

{% endblock %}
