
{% extends "_layouts/base.html" %}
{% load static %}

{% block css %}
<style>
.name {
    font-weight: bold;
    fill: #666666;
}

.name2 {
    font-weight: 500;
    fill: #666666;
}

.about {
    fill: #777;
}

.link {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.control.glyphicon {
    position: static;
    cursor: pointer;
    color: green;
}

p, li {
    font-size: 120%;
}
</style>
{% endblock css %}

{% block jsnocompress %}
<script src="{% static 'js/libs/d3.min.js' %}"></script>
{% endblock %}

{% block js %}
{{ block.super }}
<script>
{% block size %}
var margin = {top: 0, right: 320, bottom: 0, left: 0},
    width = 50 + 220*{{ generations }} - margin.left,
    height = {{ height }} - margin.top - margin.bottom; // FIXME compute height from json data?!

{% endblock size %}

var tree = d3.tree()
tree.separation(function(a, b) { return a.parent === b.parent ? 0.9 : 1; });
tree.size([height, width]);

var svg = d3.select("#familytree_svg").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
    .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

json = {{ data|safe }}
if ("parents" in json) json = json.parents[0];

root = d3.hierarchy(json, function(d) { return d.parents; });

var link = svg.selectAll(".link")
    .data(tree(root).descendants().slice(1))
    .enter().append("path")
    .attr("class", "link")
    .attr("d", elbow);

var node = svg.selectAll(".node")
    .data(tree(root).descendants())
    .enter().append("g")
    .attr("class", "node")
    .attr("transform", function(d) { return "translate(" + d.y + "," + d.x + ")"; })

{% block svg_name1 %}
node.append("svg:a")
    .attr("class", "popoverlink")
    .attr("xlink:href", function(d) { return d.data.urlp1 ? d.data.urlp1 : ""; })
    .append("text")
    .attr("class", "name")
    .attr("x", 28)
    .attr("y", -6)
    .attr("dy", "-1.5em")
    .text(function(d) { return d.data.name1; });
{% endblock svg_name1 %}

{% block svg_icon1 %}
node.append("svg:a")
    .attr("xlink:href", function(d) { return d.data.url1;  })
    .append("svg:foreignObject")
    .attr("width", 25)
    .attr("height", 25)
    .attr("x", 10)
    .attr("y", -40)
    .append("xhtml:span")
    .attr("class", "control glyphicon glyphicon-info-sign")
    .style("display", function(d) { return d.data.url1 == "" ? "none" : null; });
{% endblock svg_icon1 %}

{% block svg_about1 %}
node.append("text")
    .attr("x", 8)
    .attr("y", 8)
    .attr("dx", "1.21em")
    .attr("dy", "1.8em")
    .attr("class", "about lifespan")
    .text(function(d) { if ("name2" in d.data && (d.data.born2 || d.data.died2)) return d.data.born2 + "–" + d.data.died2; });
{% endblock svg_about1 %}

{% block svg_name2 %}
node.append("svg:a")
    .filter(function(d) { return "name2" in d.data; })
    .attr("class", "popoverlink")
    .attr("xlink:href", function(d) { return d.data.urlp2; })
    .append("text")
    .attr("class", "name2")
    .attr("x", 28)
    .attr("y", -6)
    .attr("dx", "1.21em")
    .attr("dy", "1.51em")
    .text(function(d) { if ("name2" in d.data) return d.data.name2; else return ""; });
{% endblock svg_name2 %}


{% block svg_icon2 %}
node.append("svg:a")
    .attr("xlink:href", function(d) { return d.data.url2;  })
    .append("svg:foreignObject")
    .attr("width", 25)
    .attr("height", 25)
    .attr("x", 27)
    .attr("y", 3)
    .append("xhtml:span")
    .attr("class", "control glyphicon glyphicon-info-sign")
    .style("display", function(d) { return (!("url2" in d.data) || d.data.url2 == "") ? "none" : null; });
{% endblock svg_icon2 %}

{% block svg_about2 %}
node.append("text")
    .attr("x", 8)
    .attr("y", 8)
    .attr("dy", "-1.25em")
    .attr("class", "about lifespan")
    .text(function(d) { if (d.data.name1 != "..." && (d.data.born1 || d.data.died1)) return d.data.born1 + "–" + d.data.died1; else return ""; });
{% endblock svg_about2 %}

function elbow(d, i) {
    return "M" + (d.parent.name1=="..." ? d.parent.y+15 : d.parent.y) + "," + d.parent.x
        + "H" + d.y + "V" + d.x
        + (d.children ? "" : "h" + 0.7*margin.right);
}

</script>
{% endblock js %}

{% block popover %}
<script>
$(document).ready(function() {
{% include "base/popover.js" with selector='.popoverlink' urldata="popover-data" get_href="href.baseVal" %}
{% include "base/popover.js" with selector='.popoverlink-header' urldata="popover-data" get_href="href" %}
});
</script>
{% endblock %}

{% block content %}
<div class="container">
    {% block pedigree_header %}
    <div class="row">
        <h2>Nachkommen von {% include "genealogio/person_snippet_full.html" %}</h2>
        <div class="col-md-10">
            <p style="margin-bottom: 40px;">
                {% include "genealogio/person_snippet_pedigree.html" with person=person.get_father target="descendants" label="Vater: " %} -
                {% include "genealogio/person_snippet_pedigree.html" with person=person.get_mother target="descendants" label="Mutter: " %}
            </p>
        </div>
        <div class="col-md-2">
            <p style="margin-bottom: 30px;">
                <a href="{% url "pedigree" person.pk %}">Ahnentafel</a>
            </p>

            {% include "genealogio/choose_number_generations.html" with base_url="descendants-level" %}
        </div>
    </div>
    {% endblock pedigree_header %}
    <div style="margin-top: 20px;" id="familytree_svg">
    </div>
</div>
{% endblock %}

