{% extends "_layouts/base_leaflet.html" %}
{% load static %}
{% load markup_tags %}
{% load leaflet_tags %}


{% block css %}
{{block.super}}

<style>
#places {
    height: 700px;
}

ul.simple {
    list-style: none;
    padding-left: 1em;
}

ul.simple li {
    padding-left: 3em;
    font-size: 110%;
}

.underline {
    text-decoration: underline;
}

.marginleft30 {
    margin-left: 30px;
}

.alignleft {
    float: left;
    padding-left: 3px;
    padding-top: 5px;
}

.alignright {
    float: right;
    padding-right: 3px;
    padding-top: 5px;
}
</style>
{% endblock css %}


{% block js %}
{{block.super}}

{% if user_is_admin %}
<script type="text/javascript" src="{% static 'js/rsterrors.js' %}"></script>
{% endif %}

<script type="text/javascript" src="{% static 'js/showhide.js' %}"></script>
<script type="text/javascript">
$(document).ready(function() {
    $("img").error(function () {
        $(this).hide();
    });

    show_hide_button('#tagged_objs_picture', '#obj_list_picture', 'pictures');
    show_hide_button('#tagged_objs_video', '#obj_list_video', 'videos');
    show_hide_button('#tagged_objs_document', '#obj_list_document', 'documents');
});
</script>
{% endblock %}



