{% extends "genealogio/detail_view.html" %}
{% load markup_tags %}
{% load static%}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            {% filter apply_markup:"genrestructuredtext" %}
            {% include "genealogio/event_detail.rst" %}
            {% endfilter %}
            {% include "tags/objects_for_tag.html" with title="Bilder" app="notaro" model="picture" %}
            <ul class="list-group">
            {% include "tags/objects_for_tag.html" with title="Dokumente" app="notaro" model="document" %}
            </ul>
            <hr>
            {% include "comments/comments.html" %}
        </div>
        <div class="col-md-3 col-md-offset-1" style="margin-top: 50px;">
        {% if user_is_admin %}
            <div class="cabin adminbox">
                {% include "notaro/admin_links.html" with admin_edit_link="genealogio/person" doc_link="ereignisse.html" %}
            </div>
        {% endif %}
        </div>
    </div>
</div>
{% endblock %}


