{% extends "genealogio/detail_view.html" %}
{% load static %}
{% load markup_tags %}
{% load leaflet_tags %}

{% block js %}
{{ block.super }}

<script>
$(document).ready(function() {
    show_hide_button("#zeitstrahl h3", "#zeitstrahl > table", "timeline");
});
</script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div style="margin-bottom: 50px">
                {% filter apply_markup:"genrestructuredtext" %}
                {% include "genealogio/family_detail.rst" %}
                {% endfilter %}
            </div>

            <div>
                {% include "tags/objects_for_tag.html" with title="Bilder" app="notaro" model="picture" masonry=True %}
                {% include "tags/objects_for_tag.html" with title="Videos" app="notaro" model="video" masonry=True %}
                {% include "tags/objects_for_tag.html" with title="Dokumente" app="notaro" model="document" %}
            </div>

            <hr>
            {% include "comments/comments.html" %}
        </div>
        <div class="col-md-3 col-md-offset-1">
        {% if user_is_admin %}
            <div class="cabin adminbox">
                {% include "notaro/admin_links.html" with admin_edit_link="genealogio/family" doc_link="familien.html" %}
                <a href="{% url "add_child" family.pk %}" class="btn btn-default">Kind hinzufügen</a>
            </div>
        {% endif %}
        </div>
    </div>
</div>
{% endblock %}


