{% extends "genealogio/pedigree.html" %}

{% block popover %}{% endblock %}
{% block navbar %}{% endblock %}
{% block messages %}{% endblock %}
{% block footer %}{% endblock %}
{% block piwik %}{% endblock %}

{% block css %}
<style>
.name {
    font-family: Vollkorn, times, serif;
    font-weight: 400;
    fill: #000000;
    font-size: 120%;
}

.about {
    font-family: Vollkorn, times, serif;
    fill: #000000;
    /* font-size: smaller; */
}

.link {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

p, li {
    font-size: 120%;
}
</style>
{% endblock css %}

{% block pedigree_header %}{% endblock %}

{% block size %}
var margin = {top: 0, right: 270, bottom: 0, left: 0},
    width = margin.right * {{ generations }},
    height = 600 - margin.top - margin.bottom + 100 * {{ generations }};
{% endblock %}

{% block svg_name %}
node.append("svg:a")
    .filter(function(d) {
      return d && d.data && "name" in d.data && d.data.name != undefined && d.data.name != ""; })
    .append("text")
    .attr("class", "name")
    .attr("x", 8)
    .attr("y", -6)
    .attr("dy", "-.5em")
    .text(function(d) { return d.data.name; });
{% endblock %}

{% block svg_icon %}{% endblock %}

