{% extends "_layouts/base.html" %}
{% load static %}

{% block css %}
<style>
.name {
    font-family: Vollkorn, times, serif;
    font-weight: 600;
    fill: #666666;
}

.about {
    font-family: Vollkorn, times, serif;
    fill: #777;
    /* font-size: smaller; */
}

.link {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.control.glyphicon {
    position: static;
    cursor: pointer;
    color: green;
}

p, li {
    font-size: 120%;
}
</style>
{% endblock css %}

{% block jsnocompress %}
<script src="https://d3js.org/d3.v3.min.js"></script>
{% endblock %}

{% block js %}
{{ block.super }}
<script>
{% block size %}
var margin = {top: 0, right: 270, bottom: 0, left: 0},
    width = margin.right * ({{ generations }} - 1),
    height = -350 - margin.top - margin.bottom + 295 * {{ generations }};
{% endblock %}

var tree = d3.layout.tree()
    .separation(function(a, b) { return a.parent === b.parent ? 0.7 : 1; })
    .children(function(d) { return d.parents; })
    .size([height, width]);

var svg = d3.select("#familytree_svg").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
    .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

json = {{ data|safe }}

var nodes = tree.nodes(json);

var link = svg.selectAll(".link")
    .data(tree.links(nodes))
    .enter().append("path")
    .attr("class", "link")
    .attr("d", elbow);

var node = svg.selectAll(".node")
    .data(nodes)
    .enter().append("g")
    .attr("class", "node")
    .attr("transform", function(d) { return "translate(" + d.y + "," + d.x + ")"; })

{% block svg_name %}
node.append("svg:a")
    .filter(function(d) { return d && "name" in d && "name" != ""; })
    .attr("class", "popoverlink")
    .attr("xlink:href", function(d) { return d.urlp; })
    .append("text")
    .attr("class", "name")
    .attr("x", 28)
    .attr("y", -6)
    .attr("dy", "-.5em")
    .text(function(d) { return d.name; });
{% endblock %}

{% block svg_icon %}
node.append("svg:a")
    .attr("xlink:href", function(d) { return d.url;  })
    .append("svg:foreignObject")
    .attr("width", 25)
    .attr("height", 25)
    .attr("x", 8)
    .attr("y", -26)
    .append("xhtml:span")
    .attr("class", "control glyphicon glyphicon-info-sign")
    .style("display", function(d) { return d.url == "" ? "none" : null; });
{% endblock %}

node.append("text")
    .attr("x", 8)
    .attr("y", 8)
    .attr("dy", ".7em")
    .attr("class", "about")
    .text(function(d) { if (d.born || d.died) return d.born + "–" + d.died; });

function elbow(d, i) {
    return "M" + d.source.y + "," + d.source.x
        + "H" + d.target.y + "V" + d.target.x
        + "h" + margin.right;
}


</script>
{% endblock js %}

{% block popover %}
<script>
$(document).ready(function() {
{% include "base/popover.js" with selector='.popoverlink' urldata="popover-data" get_href="href.baseVal" %}
{% include "base/popover.js" with selector='.popoverlink-header' urldata="popover-data" get_href="href" %}
});
</script>
{% endblock %}

{% block content %}
<div class="container">
    {% block pedigree_header %}
    <h2>Ahnentafel für {% include "genealogio/person_snippet_full.html" %}</h2>
    <div class="row">
        <div class="col-md-10">
            {% with allchildren=person.get_children %}
            <p>
                <ul class="list-group">
                {% for partner, children, family in allchildren %}
                    <li class="list-group-item">
                        {{ family.get_relation_text }} {% include "genealogio/person_snippet_pedigree.html" with person=partner target="pedigree" %} — <a href="{{ family.get_absolute_url }}">Familie {% firstof family.name family.father.last_name person.last_name %}</a>

                        {% if children %}
                        </br><b>Kinder:</b>
                        {% for child in children %}
                        {% spaceless %}
                        {% include "genealogio/person_snippet_pedigree.html" with person=child target="pedigree" %}<span>{% if not forloop.last %},{% else %}.{% endif %}</span>
                        {% endspaceless %}
                        {% endfor %}
                        {% endif %}
                    </li>
                {% endfor %}
                </ul>
            </p>
            {% endwith %}
        </div>
        <div class="col-md-2">
            <p style="margin-bottom: 30px;">
                <a href="{% url "descendants" person.pk %}">Nachkommen</a>
            </p>
            {% include "genealogio/choose_number_generations.html" with base_url="pedigree-level" %}
        </div>
    </div>
    {% endblock pedigree_header %}

    <div id="familytree_svg" style="margin-top: 20px;">
    </div>
</div>
{% endblock %}

