{% extends "_layouts/base.html" %}

{% block css %}
<style>
.name {
    font-weight: 600;
    fill: #666666;
}

.about {
    fill: #777;
    /* font-size: smaller; */
}

.link {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.control.glyphicon {
    position: static;
    cursor: pointer;
    color: green;
}
</style>
{% endblock css %}

{% block jsnocompress %}
<script src="http://d3js.org/d3.v2.min.js?2.9.4"></script>
{% endblock %}

{% block js %}
{{ block.super }}
<script>

var margin = {top: 0, right: 320, bottom: 0, left: 0},
    width = 960 - margin.left - margin.right,
    height = 650 - margin.top - margin.bottom;

var tree = d3.layout.tree()
    .separation(function(a, b) { return a.parent === b.parent ? 0.7 : 1; })
    .children(function(d) { return d.parents; })
    .size([height, width]);

var svg = d3.select("#pedi").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
    .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

json = {{ data|safe }}

var nodes = tree.nodes(json);

var link = svg.selectAll(".link")
    .data(tree.links(nodes))
    .enter().append("path")
    .attr("class", "link")
    .attr("d", elbow);

var node = svg.selectAll(".node")
    .data(nodes)
    .enter().append("g")
    .attr("class", "node")
    .attr("transform", function(d) { return "translate(" + d.y + "," + d.x + ")"; })

node.append("svg:a")
    .attr("xlink:href", function(d) { return d.urlp; })
    .append("text")
    .attr("class", "name")
    .attr("x", 28)
    .attr("y", -6)
    .attr("dy", "-.5em")
    .text(function(d) { return d.name; });

node.append("svg:a")
    .attr("xlink:href", function(d) { return d.url;  })
    .append("svg:foreignObject")
    .attr("width", 25)
    .attr("height", 25)
    .attr("x", 8)
    .attr("y", -26)
    .append("xhtml:span")
    .attr("class", "control glyphicon glyphicon-info-sign")
    .style("display", function(d) { return d.url == "" ? "none" : null; });

node.append("text")
    .attr("x", 8)
    .attr("y", 8)
    .attr("dy", ".7em")
    .attr("class", "about lifespan")
    .text(function(d) { if (d.born || d.died) return d.born + "–" + d.died; });

function elbow(d, i) {
    return "M" + d.source.y + "," + d.source.x
        + "H" + d.target.y + "V" + d.target.x
        + (d.target.children ? "" : "h" + margin.right);
}

</script>
{% endblock js %}

{% block content %}
<div class="container">
    <h2>Ahnentafel für {% include "genealogio/person_snippet_full.html" %}</h2>
    <div id="pedi">
    </div>
</div>
{% endblock %}

