{% extends "_layouts/base_leaflet.html" %}
{% load markup_tags %}
{% load leaflet_tags %}

{% block css %}
{{block.super}}

<style>
#places {
    height: 700px;
}

ul.simple {
    list-style: none;
    padding-left: 1em;
}

ul.simple li {
    padding-left: 3em;
    font-size: 110%;
}

.underline {
    text-decoration: underline;
}
</style>
{% endblock css %}


{% block js %}
{{block.super}}

<script type="text/javascript">

$(window).on('map:init', function (e) {
    var redMarker = L.AwesomeMarkers.icon({ icon: 'plus', markerColor: 'brown' });

    var layer = L.geoJson([], { pointToLayer: function (feature, latlng) {
      if (feature.properties.typ=="birth")
        return L.marker(latlng, {icon: redMarker }).bindPopup(feature.properties.title);
      else
        return L.marker(latlng).bindPopup(feature.properties.title);
    }});
    var detail = e.originalEvent ?  e.originalEvent.detail : e.detail;
    detail.map.setView([52.3, 7.8], 7);
    detail.map.addLayer(layer);
    $.getJSON("{% url 'personplaces-data' %}", {person_id: {{ person.id }} }, function (data) {
        layer.addData(data);
    });
    Dajaxice.genealogio.pplaces_lines(function (data) {
        layer.addData(data);
    }, {person_id: {{ person.id }} });
});
</script>
{% endblock %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div style="margin-bottom: 50px">
                {% filter apply_markup:"genrestructuredtext" %}
                {% include "genealogio/person_detail.rst" %}
                {% endfilter %}
            </div>

            {% if person.places.count %}
            <h2>Karte</h2>

            {% leaflet_map "places" %}
            {% endif %}
        </div>
        <div class="col-md-2 col-md-offset-1">
            <p style="margin-top:50px;"><a href="{% url "pedigree" object.id %}">Ahnentafel</a></p>
        {% if user.is_authenticated and user.is_staff %}
            <p style="margin-top:50px;">
            <a style="font-family: Cabin, helvetica, sans-serif; font-size: 80%;" href="/admin/genealogio/person/{{ object.id }}/">Person editieren</a>
            </p>
        {% endif %}
        </div>
    </div>
</div>
{% endblock %}


