{% load fb_versions %}
{% load partialdate_tags %}
{% load markup_tags %}

<div style="width: 400px;">
<h4>
    {% if object.portrait %}{% if request.site in object.portrait.sites.all %}<img onerror='this.style.display = "none"' style="margin-right: 10px;" src="{% version object.portrait.image 'thumbnail' %}">{% endif %}{% endif %}
{{ object.get_full_name_html }}
</h4>

<p>{% if object.datebirth or object.placebirth %}geboren {{ object.datebirth|partial_date:"j.n.Y" }}{% if object.placebirth %} in {{ object.placebirth }} {% endif %}{% endif %}{% if object.datedeath or object.placedeath %} - gestorben {{ object.datedeath|partial_date:"j.n.Y" }}{% if object.placedeath %} in {{ object.placedeath }}{% endif %}{% endif %}</p>

{% with father=object.get_father.get_primary_name %}
{% if father %}<p><b>Vater:</b> {{ father }}</p>{% endif %}
{% endwith %}

{% with mother=object.get_mother.get_primary_name %}
{% if mother %}<p><b>Mutter:</b> {{ mother }}</p>{% endif %}
{% endwith %}

{% with allchildren=object.get_children %}
{% for partner, children, family in allchildren %}

<p>{{ family.get_relation_text }} {{ partner.get_primary_name }} — Familie {% firstof family.name family.father.last_name object.last_name %}</p>

{% if children %}
<p><b>Kinder:</b></br>

<ul>
{% for child in children %}
<li>{{ child.get_primary_name }}</li>
{% endfor %}
</ul>
{% endif %}
</p>
{% endfor %}
{% endwith %}

<p>{{ object.comments|apply_markup:"genrestructuredtext" }}</p>
</div>

