{% extends "_layouts/base_leaflet.html" %}
{% load static %}
{% load markup_tags %}
{% load leaflet_tags %}

{% block css %}
{{block.super}}

<style>
#places {
    height: 700px;
}

ul.simple {
    list-style: none;
    padding-left: 1em;
}

ul.simple li {
    padding-left: 3em;
    font-size: 110%;
}

.underline {
    text-decoration: underline;
}

.marginleft30 {
    margin-left: 30px;
}
</style>
{% endblock css %}


{% block js %}
{{block.super}}

{% if user.is_authenticated and user.userprofile.is_staff_for_site %}
<script type="text/javascript" src="{% static 'js/rsterrors.js' %}"></script>
{% endif %}

<script type="text/javascript">
$("img").error(function () {
    $(this).hide();
});


$(window).on('map:init', function (e) {
    var birthdeathMarker = L.AwesomeMarkers.icon({
        icon: 'user',
        markerColor: 'red' });
    var birthMarker = L.AwesomeMarkers.icon({
        icon: 'user',
        markerColor: 'green' });
    var diedMarker = L.AwesomeMarkers.icon({
        icon: 'plus',
        markerColor: 'red' });
    var studyMarker = L.AwesomeMarkers.icon({
        icon: 'book',
        markerColor: 'blue' });
    var otherMarker = L.AwesomeMarkers.icon({
        icon: 'home',
        markerColor: 'blue' });
    var childMarker = L.AwesomeMarkers.icon({
        icon: 'leaf',
        markerColor: 'blue' });
    var retireMarker = L.AwesomeMarkers.icon({
        icon: 'home',
        markerColor: 'purple' });
    var burialMarker = L.AwesomeMarkers.icon({
        icon: 'plus',
        markerColor: 'orange' });

    var layer = L.geoJson([], { pointToLayer: function (feature, latlng) {
      if (feature.properties.typ=="birthdeath")
        return L.marker(latlng, {icon: birthdeathMarker }).bindPopup(feature.properties.title);
      if (feature.properties.typ=="birth")
        return L.marker(latlng, {icon: birthMarker }).bindPopup(feature.properties.title);
      if (feature.properties.typ=="death")
        return L.marker(latlng, {icon: diedMarker }).bindPopup(feature.properties.title);
      if (feature.properties.typ==5)  // studies
        return L.marker(latlng, {icon: studyMarker }).bindPopup(feature.properties.title);
      if (feature.properties.typ==1)  // other
        return L.marker(latlng, {icon: otherMarker }).bindPopup(feature.properties.title);
      if (feature.properties.typ==4)  // childhood
        return L.marker(latlng, {icon: childMarker }).bindPopup(feature.properties.title);
      if (feature.properties.typ==6)  // retirement
        return L.marker(latlng, {icon: retireMarker }).bindPopup(feature.properties.title);
      if (feature.properties.typ==7)  // burial
        return L.marker(latlng, {icon: burialMarker }).bindPopup(feature.properties.title);
      else // unknown
        return L.marker(latlng).bindPopup(feature.properties.title);
    }});
    var detail = e.originalEvent ?  e.originalEvent.detail : e.detail;
    // detail.map.setView([52.3, 7.8], 7);
    detail.map.addLayer(layer);
    $.getJSON("{% url 'personplaces-data' %}", {person_id: {{ person.id }} }, function (data) {
        layer.addData(data);
        if (data.features.length > 1) detail.map.fitBounds(layer.getBounds());
        else if (data.features.length) detail.map.setView([data.features[0].geometry.coordinates[1], data.features[0].geometry.coordinates[0]], 10);
    });
    Dajaxice.genealogio.pplaces_lines(function (data) {
        layer.addData(data);
    }, {person_id: {{ person.id }} });
});
</script>
{% endblock %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div style="margin-bottom: 50px">
                {% filter apply_markup:"genrestructuredtext" %}
                {% include "genealogio/person_detail.rst" %}
                {% endfilter %}
            </div>

            {% if person.places.count %}
            <h2>Karte</h2>

            {% leaflet_map "places" %}
            {% endif %}

            <hr>
            {% include "comments/comments.html" %}
        </div>
        <div class="col-md-3 col-md-offset-1">
            <p style="margin-top:50px;"><a href="{% url "pedigree" object.id %}">Ahnentafel</a></p>
        {% if user.is_authenticated and user.userprofile.is_staff_for_site %}
            <div class="cabin adminbox">
            {% include "notaro/admin_links.html" with admin_edit_link="genealogio/person" doc_link="personen.html" %}
            </div>
        {% endif %}
        </div>
    </div>
</div>
{% endblock %}


