{% load fb_versions %}
{% load partialdate_tags %}
{% load markup_tags %}

<div style="width: 400px;">
<h4>
    {% if person.portrait %}{% if request.site in person.portrait.sites.all %}<img onerror='this.style.display = "none"' style="margin-right: 10px;" src="{% version person.portrait.image 'thumbnail' %}">{% endif %}{% endif %}
{{ person.get_full_name_html }}
</h4>

<p>{% if person.datebirth or person.placebirth %}geboren {{ person.datebirth|partial_date:"j.n.Y" }}{% if person.placebirth %} in {{ person.placebirth }} {% endif %}{% endif %}{% if person.datedeath or person.placedeath %} - gestorben {{ person.datedeath|partial_date:"j.n.Y" }}{% if person.placedeath %} in {{ person.placedeath }}{% endif %}{% endif %}</p>

{% with father=person.get_father.get_primary_name %}
{% if father %}<p><b>Vater:</b> {{ father }}</p>{% endif %}
{% endwith %}

{% with mother=person.get_mother.get_primary_name %}
{% if mother %}<p><b>Mutter:</b> {{ mother }}</p>{% endif %}
{% endwith %}

{% with allchildren=person.get_children %}
{% for partner, children, family in allchildren %}

<p>{{ family.get_relation_text }} {{ partner.get_primary_name }} — Familie {% firstof family.name family.father.last_name person.last_name %}</p>

{% if children %}
<p><b>Kinder:</b></br>

<ul>
{% for child in children %}
<li>{{ child.get_primary_name }}</li>
{% endfor %}
</ul>
{% endif %}
</p>
{% endfor %}
{% endwith %}

<p>{{ person.comments|apply_markup:"genrestructuredtext" }}</p>
</div>

