{% extends "_layouts/base_leaflet.html" %}
{% load static %}
{% load markup_tags %}
{% load leaflet_tags %}
{% load l10n %}

{% block css %}
{{block.super}}

<style>
#place {
    height: 600px;
}

ul.simple {
    list-style: none;
    padding-left: 1em;
}

ul.simple li {
    padding-left: 3em;
    font-size: 110%;
}
</style>
{% endblock css %}


{% block js %}
{{block.super}}
{% if user.is_authenticated and user.userprofile.is_staff_for_site %}
<script type="text/javascript" src="{% static 'js/rsterrors.js' %}"></script>
{% endif %}

{% localize off %}
<script type="text/javascript">

$(window).on('map:init', function (e) {
        var redMarker = L.AwesomeMarkers.icon({
            icon: 'plus',
            markerColor: 'red' });

        var detail = e.originalEvent ?  e.originalEvent.detail : e.detail;
        detail.map.setView([{{ object.location.y }}, {{ object.location.x }}], 10);
        L.marker([{{ object.location.y }}, {{ object.location.x }}]).addTo(detail.map);
        });
</script>
{% endlocalize %}
{% endblock %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div style="margin-bottom: 50px;">
            {% filter apply_markup:"genrestructuredtext" %}
            {% include "genealogio/place_detail.rst" %}
            {% endfilter %}
            </div>

            {% leaflet_map "place" %}
            <hr>
            {% include "comments/comments.html" %}
        </div>
        <div class="col-md-3 col-md-offset-1">
        {% if user.is_authenticated and user.userprofile.is_staff_for_site %}
        <div class="cabin adminbox">
            {% include "notaro/admin_links.html" with admin_edit_link="genealogio/place" doc_link="orte.html" %}
        </div>
        {% endif %}
        </div>
    </div>
</div>
{% endblock %}


