{% load fb_versions %}

{% if person.portrait and request.site in person.portrait.sites.all %}
<a href="{{ person.get_absolute_url }}" style="margin-right: 10px;">
    <img onerror='this.style.display = "none"' style="min-height: 60px; vertical-align: bottom;" src="{% version person.portrait.image 'thumbnail' %}">
</a>
{% else %}
<i class="glyphicon glyphicon-user" style="color: {% if person.gender_type == 1 %}blue{% else %}{% if person.gender_type == 0 %}red{% else %}black{% endif %}{% endif %}; font-size: 38pt;  margin-left: 10px; margin-right: 15px;"></i>
{% endif %}

