/* =============================================================================
   App specific CSS file.

   This is usually where the site/app's CSS specific rules are setup. Note that you could
   do exactly the same using less by adding a '@import "app.less";' at the end of
   css/less/bootstrap.less file.

   ========================================================================== */

.adminbox {
    margin-top: 50px;
    padding-left: 10px;
    padding-right: 30px;
    padding-top: 10px; 
    padding-bottom: 10px;
    border: 1px solid lightgray;
}
