/* =============================================================================
   App specific CSS file.

   This is usually where the site/app's CSS specific rules are setup. Note that you could
   do exactly the same using less by adding a '@import "app.less";' at the end of
   css/less/bootstrap.less file.

   ========================================================================== */

    @font-face {
        font-family: Vollkorn;
        font-style: italic;
        font-weight: 400;
        src:
          url("../fonts/vollkorn-italic-webfont.woff") format('woff');
          url("../fonts/Vollkorn-Italic.ttf") format('truetype');
          url("../fonts/Vollkorn-Italic.otf") format('opentype');
    }
    @font-face {
        font-family: Vollkorn;
        font-style: italic;
        font-weight: 500;
        src:
          url("../fonts/vollkorn-mediumitalic-webfont.woff") format('woff');
          url("../fonts/Vollkorn-MediumItalic.ttf") format('truetype');
          url("../fonts/Vollkorn-MediumItalic.otf") format('opentype');
    }
    @font-face {
        font-family: Vollkorn;
        font-style: italic;
        font-weight: 600;
        src:
          url("../fonts/vollkorn-semibolditalic-webfont.woff") format('woff');
          url("../fonts/Vollkorn-SemiboldItalic.ttf") format('truetype');
          url("../fonts/Vollkorn-SemiboldItalic.otf") format('opentype');
    }
    @font-face {
        font-family: Vollkorn;
        font-style: italic;
        font-weight: 700;
        src:
          url("../fonts/vollkorn-bolditalic-webfont.woff") format('woff');
          url("../fonts/Vollkorn-BoldItalic.ttf") format('truetype');
          url("../fonts/Vollkorn-BoldItalic.otf") format('opentype');
    }
    @font-face {
        font-family: Vollkorn;
        font-style: normal;
        font-weight: 400;
        src:
          url("../fonts/vollkorn-regular-webfont.woff") format('woff');
          url("../fonts/Vollkorn-Regular.ttf") format('truetype');
          url("../fonts/Vollkorn-Regular.otf") format('opentype');
    }
    @font-face {
        font-family: Vollkorn;
        font-style: normal;
        font-weight: 500;
        src:
          url("../fonts/vollkorn-medium-webfont.woff") format('woff');
          url("../fonts/Vollkorn-Medium.ttf") format('truetype');
          url("../fonts/Vollkorn-Medium.otf") format('opentype');
    }
    @font-face {
        font-family: Vollkorn;
        font-style: normal;
        font-weight: 600;
        src:
          url("../fonts/vollkorn-semibold-webfont.woff") format('woff');
          url("../fonts/Vollkorn-Semibold.ttf") format('truetype');
          url("../fonts/Vollkorn-Semibold.otf") format('opentype');
    }
    @font-face {
        font-family: Vollkorn;
        font-style: normal;
        font-weight: 700;
        src:
          url("../fonts/vollkorn-bold-webfont.woff") format('woff');
          url("../fonts/Vollkorn-Bold.ttf") format('truetype');
          url("../fonts/Vollkorn-Bold.otf") format('opentype');
    }
    @font-face {
        font-family: Cabin;
        font-style: normal;
        font-weight: 400;
        src:
        url("../fonts/Cabin-Regular.ttf") format('truetype');
        url("../fonts/Cabin-Regular.otf") format('opentype');
    }
    @font-face {
        font-family: Cabin;
        font-style: normal;
        font-weight: 500;
        src:
        url("../fonts/Cabin-Medium.ttf") format('truetype');
        url("../fonts/Cabin-Medium.otf") format('opentype');
    }
    @font-face {
        font-family: Cabin;
        font-style: normal;
        font-weight: 600;
        src:
        url("../fonts/Cabin-SemiBold.ttf") format('truetype');
        url("../fonts/Cabin-SemiBold.otf") format('opentype');
    }
    @font-face {
        font-family: Cabin;
        font-style: normal;
        font-weight: 700;
        src:
        url("../fonts/Cabin-Bold.ttf") format('truetype');
        url("../fonts/Cabin-Bold.otf") format('opentype');
    }
    @font-face {
        font-family: Cabin;
        font-style: italic;
        font-weight: 400;
        src:
        url("../fonts/Cabin-Italic.ttf") format('truetype');
        url("../fonts/Cabin-Italic.otf") format('opentype');
    }
    @font-face {
        font-family: Cabin;
        font-style: italic;
        font-weight: 500;
        src:
        url("../fonts/Cabin-MediumItalic.ttf") format('truetype');
        url("../fonts/Cabin-MediumItalic.otf") format('opentype');
    }
    @font-face {
        font-family: Cabin;
        font-style: italic;
        font-weight: 600;
        src:
        url("../fonts/Cabin-SemiBoldItalic.ttf") format('truetype');
        url("../fonts/Cabin-SemiBoldItalic.otf") format('opentype');
    }
    @font-face {
        font-family: Cabin;
        font-style: italic;
        font-weight: 700;
        src:
          url("../fonts/Cabin-BoldItalic.ttf") format('truetype');
          url("../fonts/Cabin-BoldItalic.otf") format('opentype');
    }
    div {
        font-family: Vollkorn, times, serif;
    }
    p {
        font-size: 14pt;
    }

    li {
        font-size: 12pt;
    }
    .caption { font-family: Cabin, helvetica, sans-serif; }
    .cabin { font-family: Cabin, helvetica, sans-serif; }
    a {
        color: #666666;
    }

    label {
        vertical-align: top;
    }

    /* Do not show restructuredtext error messages by default */
    .system-messages, .system-message {
        display: none;
    }

    /* set width for custommap img */
    img.custommap {
        width: 100%;
    }

    /* Move down content because we have a fixed navbar that is 50px tall */
    body {
        padding-top: 50px;
        padding-bottom: 20px;
    }

    .popover{
        max-width: 100%;
        max-height: none;
    }


.adminbox {
    margin-top: 50px;
    padding-left: 10px;
    padding-right: 30px;
    padding-top: 10px; 
    padding-bottom: 10px;
    border: 1px solid lightgray;
}


table, thead, tr, th .booktabs {
    border: none;
    padding-left: 10px;
    padding-right: 10px;
}

.booktabs td {
    border: 1px solid lightgray;
    padding-left: 10px;
    padding-right: 10px;
}

th, td {
    vertical-align: middle;
    text-align: center;
}

td p {
    font-size: 10pt;
}
