@import url("font-awesome.min.css");

.ui-autocomplete { height: 200px; overflow-y: scroll; overflow-x: hidden;}

.dj_map_wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.dj_map {
    height: 300px;
}

