
{% extends "_layouts/base_leaflet.html" %}
{% load static %}
{% load markup_tags %}
{% load fb_versions %}
{% load leaflet_tags %}
{% load l10n %}

{% block css %}
{{block.super}}

<style>
#custommap {
    width: 100%;
    height: 600px;
}

ul.simple {
    list-style: none;
    padding-left: 1em;
}

ul.simple li {
    padding-left: 3em;
    font-size: 110%;
}
</style>
{% endblock css %}


{% block js %}
{{block.super}}
{% if user_is_admin %}
<script type="text/javascript" src="{% static 'js/rsterrors.js' %}"></script>
{% endif %}

{% localize off %}
<script type="text/javascript">

$(window).on('map:init', function (e) {
        var redMarker = L.AwesomeMarkers.icon({
            icon: 'plus',
            markerColor: 'red' });

        var detail = e.originalEvent ?  e.originalEvent.detail : e.detail;
        console.log(detail.map._container.id);
        {% with bbox=object.bbox.extent %}
        detail.map.fitBounds([[{{ bbox.1 }}, {{ bbox.0 }}],
                              [{{ bbox.3  }}, {{ bbox.2  }}]]);
        {% endwith %}
        {% for m in object.custommapmarker_set.all %}
        L.marker([{{ m.place.location.y }} + {{ m.label_offset_y }},
                  {{ m.place.location.x }} + {{ m.label_offset_x }}]).addTo(detail.map);
        {% endfor %}
        });
</script>
{% endlocalize %}
{% endblock %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h1>{{ object.title }}</h1>
            <div style="margin-bottom: 50px;">
{% filter apply_markup:"genrestructuredtext" %}
{{ object.description }}
{% endfilter %}
            </div>
            <div style="margin-bottom: 10px;">
                <p class="cabin" style="margin-bottom: 20px; font-size: 100%;">Status: {{ object.get_render_status }}</p>
                {% if object.rendered %}<img style="width: 100%;" src="{{ object.rendered.url }}">{% else %}<p class="cabin">Es ist noch kein gerendertes Bild der Karte verfügbar.</p>{% endif %}
            </div>
            <div style="margin-bottom: 50px;">
                {% for m in object.custommapmarker_set.all %}
                {% if m.get_description %}
                <p>{{ m.get_label_html|safe }} {{ m.get_description }} </p>
                {% endif %}
                {% endfor %}
            </div>

            {% leaflet_map "custommap" %}
        </div>
        <div class="col-md-3 col-md-offset-1">
        {% if user_is_admin %}
        <div class="cabin adminbox">
            {% include "notaro/admin_links.html" with admin_edit_link="maps/custommap" doc_link="karten.html" %}
        </div>
        {% endif %}
        </div>
    </div>
</div>
{% endblock %}


