{% extends "_layouts/base_leaflet.html" %}
{% load static %}
{% load markup_tags %}
{% load leaflet_tags %}
{% load l10n %}

{% block css %}
{{block.super}}

<style>
#place {
    height: 600px;
}

ul.simple {
    list-style: none;
    padding-left: 1em;
}

ul.simple li {
    padding-left: 3em;
    font-size: 110%;
}
</style>
{% endblock css %}


{% block js %}
{{block.super}}
{% if user_is_admin %}
<script type="text/javascript" src="{% static 'js/rsterrors.js' %}"></script>
{% endif %}

<script type="text/javascript" src="{% static 'js/showhide.js' %}"></script>
<script type="text/javascript">
$(document).ready(function() {
    $("img").error(function () {
        $(this).hide();
    });

    show_hide_button('#tagged_objs_picture', '#obj_list_picture', 'pictures');
    show_hide_button('#tagged_objs_document', '#obj_list_document', 'documents');
    show_hide_button('div#personen > h3', 'div#personen > .row', 'persons');
});
</script>

{% localize off %}
<script type="text/javascript">

$(window).on('map:init', function (e) {
        var redMarker = L.AwesomeMarkers.icon({
            icon: 'plus',
            markerColor: 'red' });

        var detail = e.originalEvent ?  e.originalEvent.detail : e.detail;
        detail.map.setView([{{ object.location.y }}, {{ object.location.x }}], 10);
        L.marker([{{ object.location.y }}, {{ object.location.x }}]).addTo(detail.map);
        });
</script>
{% endlocalize %}

{% endblock %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div style="margin-bottom: 50px;">
            {% filter apply_markup:"restructuredtext" %}
            {% include "maps/place_detail.rst" %}
            {% endfilter %}
            </div>

            <div>
            {% include "tags/objects_for_tag.html" with title="Bilder" app="notaro" model="picture" masonry=True %}
            {% include "tags/objects_for_tag.html" with title="Videos" app="notaro" model="video" masonry=True %}
            {% include "tags/objects_for_tag.html" with title="Dokumente" app="notaro" model="document" %}
            </div>

            <div style="margin-top: 50px;">
            {% leaflet_map "place" %}
            </div>
            <hr>
            {% include "comments/comments.html" %}
        </div>
        <div class="col-md-3 col-md-offset-1">
        {% if user_is_admin %}
        <div class="cabin adminbox">
            {% include "notaro/admin_links.html" with admin_edit_link="maps/place" doc_link="orte.html" %}
        </div>
        {% endif %}
        </div>
    </div>
</div>
{% endblock %}


