{% extends "_layouts/base.html" %}
{% load static %}
{% load typogrify_tags %}
{% load crispy_forms_tags %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/selectize.bootstrap3.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap-switch.min.css' %}">
<style>
div.bootstrap-switch span {
    font-family: cabin, helvetica, sans;
}
label, input {
    font-family: cabin, helvetica, sans;
}
textarea {
    font-family: monospace, courier;
}
</style>
{% endblock %}

{% block js %}
{{ block.super }}
<script type="text/javascript" src="{% static 'js/selectize.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap-switch.min.js' %}"></script>
<script type="text/javascript">
$(document).ready(function() {
    $('#id_populate').selectize({});
    $('#id_reference').selectize({
        valueField: 'id',
        searchField: ['label'],
        closeAfterSelect: true,
        render: {
            option:
                function (item, escape) {
                    return "<div class=\"cabin\">" + escape(item.label) + "</div>";
                },
            item:
                function (item, escape) {
                    return "<div class=\"cabin\">" + escape(item.label) + "</div>";
                }
        },
        create: false,
        load: function(query, callback) {
            if (!query.length) return callback();
            Dajaxice.books.get_persons_families(callback,
                    {"query": query });
        }
    });

    // bootstrapSwitch the checkboxes for model fields
    $('label > input[type=checkbox]').bootstrapSwitch({
        onText: "Ein", offText: "Aus",
        onColor: "success",
        size: "small"
    });

    // bootstrapSwitch the c_flags with "fromself" class
    $('span.fromself input[type=checkbox]').bootstrapSwitch({
        onText: "Ein", offText: "Aus",
        onColor: "success",
        size: "mini"
    });
});
</script>
{% endblock %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12 cabin">
            <h2><span style="color: gray;">Buchprojekt</span> {{ object.title }}</h2>

            {% if book.id %} {# check whether we already have a book, or whether we are creating one right now #}
            <div class="cabin" style="font-size: 120%; padding-bottom: 15px; margin-bottom: 20px; margin-top: 20px; border-bottom: 2px dashed black;">Download:
            {% with url=object.get_pdf_url %}
            {% if url %}
            <a style="margin-left: 10px; margin-right: 10px;" href="{{ url }}">pdf-Datei</a>
            {% else %}
            Noch keine pdf-Datei erstellt.
            {{ book.render_status }}
            {% endif %}
            {% endwith %}
            {% with url=object.get_zip_url %}
            {% if url %}
            <a style="margin-left: 10px; margin-right: 10px;" href="{{ url }}">zip-Archiv der TeX-Datei</a>
            {% endif %}
            {% endwith %}
            <span style="margin-left:30px;"><a href="{% url "export-gedcom" book.id %}">GEDCOM</a></span>

            <a href="{% url "books-create-pdf" book.id %}"  style="margin-left: 30px;" class="btn {% if book.render_status == 'RENDERED' or book.render_status == '' %}btn-primary{% else %}btn-warning{% endif %}">PDF erstellen</a>
            </div>
            {% endif %}

            {% crispy form form.helper %}

            {% if object.authors.all %}
            <p style="margin-top: 20px;">Autoren:
            {% for a in object.authors.all %}{{ a.get_full_name }}, {% endfor %}
            </p>
            {% endif %}

            {% if object.root %}
            <h3 style="margin-top: 20px;"><span style="color: gray;">Inhalt:</span> {% firstof book.root.title "Unsere Familiengeschichte" %}</h3>
            <a class="btn btn-default" href="{{ object.root.get_absolute_url }}">Bearbeiten</a>

            {% include "books/collection_snippet.html" with object=object.root recursive=True %}
            {% endif %}

        </div>
    </div>
</div>
{% endblock %}


