{% extends "_layouts/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/selectize.bootstrap3.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap-switch.min.css' %}">
{% include "notaro/codemirror-loadcss.html" %}
<style>
div.bootstrap-switch span {
    font-family: cabin, helvetica, sans;
}

label, input {
    font-family: cabin, helvetica, sans;
}
</style>
{% endblock %}

{% block jsnocompress %}
{{ block.super }}
{% endblock %}

{% block js %}
{{ block.super }}
<script type="text/javascript" src="{% static 'js/selectize.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap-switch.min.js' %}"></script>
{% include "notaro/codemirror-loadjs.html" %}
<script type="text/javascript" src="{% static 'js/genrst-hint.js' %}"></script>
<script type="text/javascript">
$(document).ready(function() {
    // bootstrapSwitch the checkboxes for model fields
    $('label > input[type=checkbox]').bootstrapSwitch({
        onText: "Ein", offText: "Aus",
        onColor: "success",
        size: "small"
    });

    // bootstrapSwitch the c_flags with "fromparentON" class
    $('span.fromparentON input[type=checkbox]').bootstrapSwitch({
        onText: "Ein", offText: "Aus",
        onColor: "info",
        size: "mini"
    });

    // bootstrapSwitch the c_flags with "fromparentOFF" class
    $('span.fromparentOFF input[type=checkbox]').bootstrapSwitch({
        onText: "Ein", offText: "Aus",
        onColor: "success",
        offColor: "info",
        size: "mini"
    });

    // bootstrapSwitch the c_flags with "fromself" class
    $('span.fromself input[type=checkbox]').bootstrapSwitch({
        onText: "Ein", offText: "Aus",
        onColor: "success",
        size: "mini"
    });

    {% include "notaro/codemirror_js.html" with target="text" cm_height="500px" %}

    $('#id_obj_id').selectize({
        valueField: 'id',
        searchField: ['label'],
        closeAfterSelect: true,
        render: {
            option:
                function (item, escape) {
                    return "<div class=\"cabin\">" + escape(item.label) + "</div>";
                },
            item:
                function (item, escape) {
                    return "<div class=\"cabin\">" + escape(item.label) + "</div>";
                }
        },
        create: false,
        load: function(query, callback) {
            if (!query.length) return callback();
            $.get(
                    "{% url "get-instances" %}",
                    {query: query, model: $('#id_obj_content_type').val()},
                    callback);
        }
    });

    $('#id_obj_content_type').selectize({
        onChange: function(value) {
            $('#id_obj_id')[0].selectize.clear();
            $('#id_obj_id')[0].selectize.clearOptions();
            $('#id_obj_id')[0].selectize.clearCache();
        }
    });
});
</script>
{% endblock %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12 cabin">
            <div class="cabin" style="padding: 5px; margin-top: 10px; margin-bottom: 10px; background-color: lightblue;">
                <a href="{{ object.parent.book.get_absolute_url }}"><span class="glyphicon glyphicon-book"></span> {{ object.parent.book.title }}</a> //
                {% for c in object.parent.parents %}
                ({{ c.level }}) <a href="{{ c.get_absolute_url }}">{{ c.title }}</a> //
                {% endfor %}
                Eintrag
            </div>

            <h2>Eintrag <a href="{{ object.obj.get_absolute_url }}">{{ object.obj }}</a></h2>

            <p style="margin-bottom: 20px; font-size: 100%;">
                Zugeordnetes Objekt: {% if object.obj %}{{ object.obj_content_type }} <b>{{ object.obj }}</b>{% else %}-{% endif %}
            </p>

            {% crispy form form.helper %}

            <div style="margin-top: 20px;">
                {% if object %}<a href="{% url "item-retrievetext" object.id %}" class="btn btn-default cabin">Text aus der Datenbank holen</a>{% endif %}
            {# <a href="" class="btn btn-default">In andere Kollektion einordnen</a> #}
            </div>

            {% include "tags/objects_for_tag.html" with object=object.obj title="Bilder" app="notaro" model="picture" show_id=True %}

            <h3>Bilder einbinden</h3>

            Im Textfeld kann ein Bild folgendermaßen eingebunden werden:
            <pre>:i:`OBJEKT-ID`</pre>

            Hier ist <code>OBJEKT-ID</code> durch die entsprechende Zahl zu ersetzen, zum Beispiel <code>:i:`13`</code>. Bilder, die mit dem zugehörigen Objekt durch ein Schlagwort verbunden sind, sind hier mit ihrer ID angezeigt.

            Varianten: <code>:it:`OBJEKT-ID`</code> (thumbnail), <code>:is:`OBJEKT-ID`</code> (klein), <code>:ib:`OBJEKT-ID`</code> (big), <code>:il:`OBJEKT-ID`</code> (large).
        </div>
    </div>
</div>
{% endblock %}


