{% extends "admin/change_form.html" %}
{% load admin_urls %}
{% load i18n %}
{% block object-tools-items %}
{% if user.is_superuser and original.handle %}
<li><a href="{{ request.path_info }}resethandle/">Handle neu setzen</a></li>
{% endif %}
<li><a href="{{ request.path_info }}remove/">Entfernen</a></li>
{% url opts|admin_urlname:'history' original.pk|admin_urlquote as history_url %}
<li><a href="{% add_preserved_filters history_url %}">{% trans "History" %}</a></li>
{% if has_absolute_url %}<li><a href="{{ absolute_url }}" class="grp-state-focus" target="_blank">{% trans "View on site" %}</a></li>{% endif%}
{% endblock %}


{% block extrahead %}
{{ block.super }}

{% if request.user.userprofile.codemirror_keymap == 1 %}
<script type="text/javascript">
(function($) {
 $(document).ready(function() {
    if ("editor" in window) {
        window.editor.setOption("vimMode", true);
    }
});

})(django.jQuery);
</script>
{% endif %}
{% endblock %}
