{% extends "admin/change_form.html" %}
{% load i18n %}
{% block object-tools-items %}
{% if user.is_superuser and original.handle %}
<li><a href="{{ request.path_info }}resethandle/">Handle neu setzen</a></li>
{% endif %}
<li><a href="{{ request.path_info }}remove/">Entfernen</a></li>
    {{ block.super }}
{% endblock %}


{% block extrahead %}
{{ block.super }}

{% if request.user.userprofile.codemirror_keymap == 1 %}
<script type="text/javascript">
(function($) {
 $(document).ready(function() {
    if ("editor" in window) {
        window.editor.setOption("vimMode", true);
    }
});

})(django.jQuery);
</script>
{% endif %}
{% endblock %}
