
{% extends "admin/base.html" %}
{% load i18n %}

{% block content %}

<div style="margin-bottom: 20px; max-width: 400px;">
    <p>Mit dem Formular unten können Bilder und Dokumente (als Einzeldateien oder als Zip-Archiv) hochgeladen werden.</p>

    <p>Um die Übersichtlichkeit zu wahren, werden die Dateien immer in einem "Unterverzeichnis" abgespeichert ("Pfad" im Formular) Der Vorschlag dort kann gegebenenfalls geändert werden.</p>
</div>

<form method="post" enctype="multipart/form-data">
{% csrf_token %}
<table style="width: 100%; background-color: #eeeeee; margin-bottom: 20px;">
{{ form }}
</table>
<input value="{% trans "Abschicken" %}" type="submit">
</form>
{% endblock %}
