{% extends "_layouts/base_leaflet.html" %}
{% load static %}
{% load typogrify_tags %}
{% load leaflet_tags %}
{% load umessages_tags %}
{% load pybb_tags %}

{% block css %}
{{block.super}}

<style>
#recentplaces {
    height: 600px;
}
</style>
{% endblock css %}

{% block js %}
{{ block.super }}

<script type="text/javascript">

$(window).on('map:init', function (e) {
    var birthMarker = L.AwesomeMarkers.icon({
        icon: 'user',
        markerColor: 'orange' });
    var birthMarker3 = L.AwesomeMarkers.icon({
        icon: 'user',
        markerColor: 'red' });
    var birthMarker6 = L.AwesomeMarkers.icon({
        icon: 'user',
        markerColor: 'darkred' });
    var birthMarker9 = L.AwesomeMarkers.icon({
        icon: 'user',
        markerColor: 'purple' });

    var diedMarker = L.AwesomeMarkers.icon({
        icon: 'plus',
        markerColor: 'orange' });
    var diedMarker3 = L.AwesomeMarkers.icon({
        icon: 'plus',
        markerColor: 'red' });
    var diedMarker6 = L.AwesomeMarkers.icon({
        icon: 'plus',
        markerColor: 'darkred' });
    var diedMarker9 = L.AwesomeMarkers.icon({
        icon: 'plus',
        markerColor: 'purple' });

    var bdMarker = L.AwesomeMarkers.icon({
        icon: 'asterisk',
        markerColor: 'orange' });
    var bdMarker3 = L.AwesomeMarkers.icon({
        icon: 'asterisk',
        markerColor: 'red' });
    var bdMarker6 = L.AwesomeMarkers.icon({
        icon: 'asterisk',
        markerColor: 'darkred' });
    var bdMarker9 = L.AwesomeMarkers.icon({
        icon: 'asterisk',
        markerColor: 'purple' });


    var layer = L.geoJson([], { pointToLayer: function (feature, latlng) {
        if (feature.properties.typ=="death")
            return L.marker(latlng, {icon: diedMarker }).bindPopup(feature.properties.title);
        if (feature.properties.typ=="death3")
            return L.marker(latlng, {icon: diedMarker3 }).bindPopup(feature.properties.title);
        if (feature.properties.typ=="death6")
            return L.marker(latlng, {icon: diedMarker6 }).bindPopup(feature.properties.title);
        if (feature.properties.typ=="death9")
            return L.marker(latlng, {icon: diedMarker9 }).bindPopup(feature.properties.title);

        if (feature.properties.typ=="birthdeath")
            return L.marker(latlng, {icon: bdMarker }).bindPopup(feature.properties.title);
        if (feature.properties.typ=="birthdeath3")
            return L.marker(latlng, {icon: bdMarker3 }).bindPopup(feature.properties.title);
        if (feature.properties.typ=="birthdeath6")
            return L.marker(latlng, {icon: bdMarker6 }).bindPopup(feature.properties.title);
        if (feature.properties.typ=="birthdeath9")
            return L.marker(latlng, {icon: bdMarker9 }).bindPopup(feature.properties.title);

        if (feature.properties.typ=="birth")
            return L.marker(latlng, {icon: birthMarker }).bindPopup(feature.properties.title);
        if (feature.properties.typ=="birth3")
            return L.marker(latlng, {icon: birthMarker3 }).bindPopup(feature.properties.title);
        if (feature.properties.typ=="birth6")
            return L.marker(latlng, {icon: birthMarker6 }).bindPopup(feature.properties.title);
        if (feature.properties.typ=="birth9")
            return L.marker(latlng, {icon: birthMarker9 }).bindPopup(feature.properties.title);

        return L.marker(latlng, {icon: bornMarker }).bindPopup(feature.properties.title);
    }});
    var detail = e.originalEvent ?  e.originalEvent.detail : e.detail;
    detail.map.addLayer(layer);
    $.getJSON("{% url 'data' %}", function (data) {
      layer.addData(data);
      if (data.features.length > 3) detail.map.fitBounds(layer.getBounds());
      else detail.map.setView([52.3, 7.8], 7);
    });
});
</script>
{% endblock %}

{% block page_title %}Unsere Familiengeschichte{% endblock %}
{% block page_class %}home-page{% endblock %}
{% block content %}

    <div class="jumbotron">
      <div class="container">
          <h1>Die Familiengeschichte der Familie {{ request.site.siteprofile.short_name }}</h1>
          <p>Auf dieser Webseite sind Informationen rund um die Familie {{ request.site.siteprofile.short_name }} und ihre Vorfahren gesammelt.</p>
      </div>
    </div>

    <div class="container">
      <div class="row">
      {% if user.is_authenticated %}
      {% get_unread_message_count_for user as unread_message_count %}
      {% if unread_message_count %}
        <div class="col-md-12">
            <div class="cabin" style="padding: 5px 15px; font-weight: bold; background-color: lightgreen;">
                Du hast {{ unread_message_count }} ungelesene Nachricht{% if unread_message_count > 1 %}en{% endif %}.
              <a href="/messages/" class="btn btn-default btn-sm" style="margin-left: 20px;">Anzeigen</a>
            </div>
        </div>
      </div>
      <div class="row">
      {% endif %}

        <div class="col-md-6">
            {% if birthdeathdays %}
            <h2>Geburts- und Todestage</h2>
            <ul class="list-group">
                {% for d, born, died in birthdeathdays %}
                <li class="list-group-item" {% ifequal today d %}style="background-color: lightblue;"{% endifequal %}><p><b>{{ d|date:"j. F" }}</b></p>
                <p>{% for person in born %}* {% include "genealogio/person_snippet_full.html" %}
                {% if person.userprofile_set.count %}<a href="/messages/compose/{{ person.userprofile_set.first.user.username }}/" style="font-size: 85%; float: right" class="cabin">Gratulieren</a>{% endif %}<br>
                {% endfor %}</p>
                <p>{% for person in died %}+ {% include "genealogio/person_snippet_full.html" %}<br>
                {% endfor %}</p>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
            {% if comments %}
            <h2>Die neuesten Kommentare</h2>
            <ul class="list-group">
                {% for c in comments %}
                <li class="list-group-item"><a href="{{ c.content_object.get_absolute_url }}"><span style="margin-right: 10px; font-size: 100%;" class="cabin">Von {% firstof c.author.get_full_name c.author.username %} bei</span> <b>{% firstof c.content_object.get_primary_name c.content_object.title c.content_object.name c.content_object %}</b></a></li>
                {% endfor %}
            </ul>
            {% endif %}
            {% if notes %}
            <h2>Die neuesten Texte</h2>
            <ul class="list-group">
                {% for note in notes %}
                <li class="list-group-item"><a href="{% url "note-detail" note.id %}">{{ note.title }}</a></li>
                {% endfor %}
            </ul>
            <p><a href="{% url "note-list" %}">Alle Texte</a></p>
            {% endif %}
            {% if personen %}
            <h2>Kürzlich hinzugefügte Personen</h2>
            <ul class="list-group">
                {% for person in personen %}
                <li class="list-group-item">{% include "genealogio/person_snippet_full.html" %}</li>
                {% endfor %}
            </ul>
            <p><a href="{% url "person-list" %}">Alle Personen</a></p>
            {% endif %}
        </div>
        <div class="col-md-6">
            <h2>Geburts- und Sterbeorte</h2>
            {% leaflet_map "recentplaces" %}
            <div class="cabin" style="color: gray; margin-top: 50px;">
                <h2><a href="/forum/">Aktuelle Beiträge im Forum</a></h2>
                {% pybb_get_latest_topics cnt=5 as topics %}
                <ul class="list-group">
                {% for t in topics %}
                <li class="list-group-item"><a href="{{ t.get_absolute_url }}">{{ t.user.get_full_name }}: {{ t }}</a></li>
                {% endfor %}
                </ul>
            </div>
        </div>
    {% else %}
    <div class="col-md-6">
        <h2>Anmelden</h2>
    <form action="/accounts/signin/" method="post">
        <div class="form-group">
        {% csrf_token %}
    <p>
    <label for="id_identification">Benutzername:</label>
    <input class="form-control required" id="id_identification" maxlength="75" name="identification" type="text" />
    </p>

    <p>
    <label for="id_password">Passwort:</label>
    <input class="form-control required" id="id_password" name="password" type="password" />
    </p>

    <div class="checkbox">
    <label for="id_remember_me"><input id="id_remember_me" name="remember_me" type="checkbox" /> Für einen Monat eingeloggt bleiben.</label>
    </div>

  </fieldset>
  <input type="submit" id="id_submitbutton" value="Anmelden" class="btn btn-default"/>
  <input type="hidden" name="next" value="/" />
  </div>
</form>
  <p class="forgot-password"><a href="/accounts/password/reset/" title="Passwort vergessen?">Passwort vergessen?</a></p>

        </div>

    {% endif %}
    </div>
</div>

{% endblock %}
