{% load umessages_tags  %}

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand cabin" href="/">Home</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                {% if request.user.is_authenticated %}
                <li><a class="cabin" href="{% url 'person-list' %}">Personen</a></li>
                <li><a class="cabin" href="{% url 'family-list' %}">Familien</a></li>
                <li><a class="cabin" href="{% url 'note-list' %}">Texte</a></li>
                {% endif %}
                <li><a class="cabin" href="{% url 'impressum' %}">Impressum</a></li>
                {% if request.user.is_authenticated %}
                {% get_unread_message_count_for request.user as message_count %}
                <li class="dropdown pull-right cabin">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ user.first_name}} ({{ user.username }})  <span class="caret"></span> <span class="glyphicon glyphicon-envelope" style="padding-left: 10px; color: {% if message_count %}yellow{% else %}lightgray{% endif %};"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/accounts/{{ user.username }}/">Profil</a></li>
                    <li><a href="/messages/">Nachrichten</a></li>
                    <li class="divider"></li>
                    <li><a href="/accounts/signout/">Abmelden</a></li>
                </ul>
                </li>
                {% endif %}
            </ul>
            {% if request.user.is_authenticated %}
            <form class="navbar-form navbar-right" action="{% url "watson:search" %}">
                <div class="form-group">
                    <input type="text" name="q" value="{{request.GET.q}}" placeholder="Suche" class="form-control">
                </div>
                <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
            </form>
            {% endif %}
        </div><!--/.navbar-collapse -->
      </div>
    </div>

