{% load base_tags %}
{% load umessages_tags  %}

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand cabin" href="/">Home</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                {% if request.user.is_authenticated %}
                <li><a class="cabin" href="{% url 'person-list' %}">Personen</a></li>
                <li><a class="cabin" href="{% url 'note-list' %}">Texte</a></li>
                <li class="dropdown cabin">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Mehr ...<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a class="cabin" href="{% url 'family-list' %}">Familien</a></li>
                        <li><a class="cabin" href="{% url 'source-list' %}">Quellen</a></li>
                        <li><a class="cabin" href="{% url 'document-list' %}">Dokumente</a></li>
                        <li><a class="cabin" href="{% url 'picture-list' %}">Bilder</a></li>
                    </ul>
                {% endif %}
                <li><a class="cabin" href="{% url 'impressum' %}">Impressum</a></li>
                {% if request.user.is_authenticated %}
                {% get_unread_message_count_for request.user as message_count %}
                <li class="dropdown pull-right cabin">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ user.first_name}} ({{ user.username }})  <span class="caret"></span> <span class="glyphicon glyphicon-envelope" style="padding-left: 10px; color: {% if message_count %}yellow{% else %}lightgray{% endif %};"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/accounts/{{ user.username }}/">Profil</a></li>
                    <li><a href="/messages/">Nachrichten</a></li>
                    <li><a href="/forum/">Forum</a></li>
                    <li><a href="/accounts/invite/">Jemanden einladen</a></li>
                    <li class="divider"></li>
                    <li><a href="/books/mybooks/">Export als PDF</a></li>
                    <li class="divider"></li>
                    <li><a href="{% settings_value "DOCUMENTATION_URL" %}benutzer.html">Hilfe</a></li>
                    <li class="divider"></li>
                    {% if user.is_authenticated and user.userprofile.is_staff_for_site %}
                    {# Note that we cannot use user_is_admin here, because this menu item #}
                    {# must be displayed regardless of the staff_view setting #}
                    <li>
                        <form action="{% url "toggle_staff_view" %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="next" value="{{ request.path }}">
                            <span class="glyphicon {% if user_is_admin %}glyphicon-ok{% else %}glyphicon-remove{% endif %}" style="margin-left: 3px; margin-right: 2px; font-size: 60%;"></span>
                            <button class="btn-as-link" type="submit">Ansicht als Redakteur</button>
                        </form>
                    </li>{% endif %}
                    <li><a href="/accounts/signout/">Abmelden</a></li>
                </ul>
                </li>
                {% endif %}
            </ul>
            {% if request.user.is_authenticated %}
            <form class="navbar-form navbar-right" action="{% url "watson:search" %}">
                <div class="form-group">
                    <input type="text" name="q" value="{{request.GET.q}}" placeholder="Suche" class="form-control">
                </div>
                <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
            </form>
            {% endif %}
        </div><!--/.navbar-collapse -->
      </div>
    </div>

