    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand cabin" href="/">Home</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                {% if request.user.is_authenticated %}
                <li><a class="cabin" href="{% url 'person-list' %}">Personen</a></li>
                <li><a class="cabin" href="{% url 'family-list' %}">Familien</a></li>
                <li><a class="cabin" href="{% url 'note-list' %}">Texte</a></li>
                {% endif %}
                <li><a class="cabin" href="{% url 'impressum' %}">Impressum</a></li>
            </ul>
            {% if request.user.is_authenticated %}
            <p class="pull-right cabin navbar-text">{{ user.first_name}} {{ user.last_name }} ({{ user.username }})</p>
            <form class="navbar-form navbar-right" action="{% url "watson:search" %}">
                <div class="form-group">
                    <input type="text" name="q" value="{{request.GET.q}}" placeholder="Suche" class="form-control">
                </div>
                <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
            </form>
            {% endif %}
        </div><!--/.navbar-collapse -->
      </div>
    </div>

