{% extends 'userena/base_userena.html' %}
{% load i18n %}

{% block title %}{% trans "Account gesperrt" %}{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-10 cabin">
<h2>{% trans "Dein Account wurde gesperrt" %}</h2>
<p>{% trans "Anscheinend wurde Dein Account gesperrt." %}</p>
<p>{% trans "Wenn Du denkst, dass das zu unrecht geschehen ist, nimm bitte Kontakt mit einem der Administratoren auf." %}</p>
  </div>
  </div>
  </div>
{% endblock %} 
