{% extends 'userena/base_userena.html' %}
{% load i18n %}

{% block title %}{% trans "Überprüfung der Email-Adresse fehlgeschlagen." %}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-10 cabin">
<h2>{% trans "Deine Email-Adresse konnte nicht verifiziert werden..." %}</h2>

<p>{% trans "Deine Email-Adresse konnte nicht verifiziert werden..." %}</p>
<p>{% trans "Bitte versuche es gegebenenfalls erneut, die Email-Adresse zu ändern." %}</p>
  </div>
  </div>
  </div>
{% endblock %}
