{% extends 'userena/base_userena.html' %}
{% load i18n %}

{% block title %}{% trans "Passwort zurücksetzen" %}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-10 cabin">
<form action="" method="post">
  <fieldset>
    <legend>{% trans "Passwort zurücksetzen" %}</legend>
    {% csrf_token %}
    {{ form.as_p }}
  </fieldset>
  <input type="submit" class="btn btn-default" value="{% trans "Neues Passwort zuschicken" %}" />
</form>
  </div>
  </div>
  </div>
{% endblock %}
