{% extends 'userena/base_userena.html' %}
{% load i18n %}
{% load url from future %}

{% block title %}{% trans "Passwort ändern" %}{% endblock %}


{% block content %}
<div class="container">
    <div class="row">
        <h2>{% if profile.user.get_full_name %}{{ profile.user.get_full_name }} {% endif %}({{ profile.user.username }})</h2>

<form action="" method="post" id="password_change_form">
    <div class="form-group">
  <ul class="list-inline cabin" id="box-nav">
    <li class="list-group-item first"><a href="{% url 'userena_profile_detail' user.username %}"><span>{% trans 'Profil ansehen' %}</span></a></li>
    <li class="list-group-item"><a href="{% url 'userena_profile_edit' user.username %}">{% trans "Profil bearbeiten" %}</a></li>
    <li style="background-color: lightgray;"  class="list-group-item selected"><a href="{% url 'userena_password_change' user.username %}">{% trans "Passwort ändern" %}</a></li>
    <li class="list-group-item last"><a href="{% url 'userena_email_change' user.username %}">{% trans "Email-Adresse ändern" %}</a></li>
  </ul>
  <fieldset>
    <legend>{% trans "Passwort ändern" %}</legend>
    {% csrf_token %}
    {{ form.as_p }}
  </fieldset>
  <input type="submit" value="{% trans "Passwort ändern" %}" class="btn btn-default" />
  </div>
</form>
  </div>
  </div>
{% endblock %}
