{% extends 'userena/base_userena.html' %}
{% load i18n %}

{% block css %}
{{ block.super }}
<style>
td {
text-align: left;
}
</style>
{% endblock %}

{% block title %}{% trans "Einstellungen" %}{% endblock %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-10 cabin">
        <h2>{% if profile.user.get_full_name %}{{ profile.user.get_full_name }} {% endif %}({{ profile.user.username }})</h2>

  <ul class="list-inline cabin" id="box-nav">
      <li class="first list-group-item"><a href="{% url 'userena_profile_detail' user.username %}"><span>{% trans 'Profil ansehen' %}</span></a></li>
    <li style="background-color: lightgray;" class="selected list-group-item"><a href="{% url 'userena_profile_edit' user.username %}">{% trans "Profil bearbeiten" %}</a></li>
    <li class="list-group-item"><a href="{% url 'userena_password_change' user.username %}">{% trans "Passwort ändern" %}</a></li>
    <li class="list-group-item last"><a href="{% url 'userena_email_change' user.username %}">{% trans "Email-Adresse ändern" %}</a></li>
  </ul>
  <form class="form-group" action="" enctype="multipart/form-data" method="post">
  {% csrf_token %}
    <legend>{% trans "Profil bearbeiten" %}</legend>
    <table class="table">
    {{ form.as_table }}
</table>
  <input type="submit" value="{% trans "Speichern" %}" class="btn btn-default" />
</form></div>
  </div>
  </div>
{% endblock %}
